body {
   color:#333333;
   font-family: Arial;
   max-width: 650px;
   margin: 0 auto;
   padding:0 16px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;  
}


footer {
   color : #888888;
   border-top:1px solid #eeeeee;
   margin-top : 16px;
   padding : 16px 0;
}

header{
   margin-top: 10px;
   margin-bottom: 4px;
}

h1 {
   font-size : 56px;
   margin-bottom: 2px;
}

header a {
   font-size : 16px;
   color : #888888;
   margin-right : 3px;
   text-decoration: none;
}

.portrait {
   width : 180px;
}

.main-content{
   flex-grow :1;
}



input {
      border : 1px solid #cccccc;
      padding : 8px;

}

button{
   cursor: pointer;
   border : 1px solid #888888;
   background: #888888;
   color: white;
   padding : 8px;
}